* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 93.5vh;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* border-radius: 8px; */
    overflow: hidden;
}

.chat-sidebar {
    width: 30%;
    background: #068131;
    color: #fff;
    padding: 15px;
}

.chat-sidebar ul {
    list-style: none;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact span {
    font-size: 16px;
    font-weight: bold;
}

.chat-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
}

.message.received {
    background: #ecf0f1;
    color: #068131;
    align-self: flex-start;
}

.message.sent {
    background: #0BD953;
    color: #fff;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
    background: #fff;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #0BD953;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-input button:hover {
    background: #0BD953;
}

.col {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    align-items: normal;
    justify-content: left;
}

.div-top {
    color: #068131;
}

.div-top h2 {
    font-weight: bolder;
}

.light {
    font-weight: normal;
    color: rgb(240, 240, 240);
    font-size: smaller;
}